.particles-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #000000; /* Dark blue background */
  background-image: linear-gradient(315deg, #000000 0%, #000000 100%);
}